<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Settings</th>
      <th scope="col">For</th>
    </tr>
  </thead>
  <tbody><% render @configs %></tbody>
  <%= paginate @configs%>
</table>
