---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/tv/66732/season/1/episode/1?api_key=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - 30ff4f3be4809812818cd528b9abf7e9e0c5d105
      X-Memc-Age:
      - '5549'
      X-Memc-Expires:
      - '11200'
      Etag:
      - W/"0ed85f248b0be13e45ef1135f2b0fbf8"
    body:
      encoding: ASCII-8BIT
      string: '{"air_date":"2016-07-15","crew":[{"job":"Director","department":"Directing","credit_id":"57b20164c3a36869e5000ba5","adult":false,"gender":2,"id":1179419,"known_for_department":"Writing","name":"Matt
        Duffer","original_name":"Matt Duffer","popularity":1.764,"profile_path":"/kXO5CnSxC0znMAICGxnPeuGP73U.jpg"},{"job":"Writer","department":"Writing","credit_id":"5789c46cc3a36841e700099e","adult":false,"gender":2,"id":1179419,"known_for_department":"Writing","name":"Matt
        Duffer","original_name":"Matt Duffer","popularity":1.764,"profile_path":"/kXO5CnSxC0znMAICGxnPeuGP73U.jpg"},{"job":"Writer","department":"Writing","credit_id":"5789c497c3a36841e70009b9","adult":false,"gender":2,"id":1179422,"known_for_department":"Writing","name":"Ross
        Duffer","original_name":"Ross Duffer","popularity":1.84,"profile_path":"/kN1HdFViQkcJOQlNcvvFJIx9Uju.jpg"},{"job":"Director","department":"Directing","credit_id":"57b20174c3a3686a54000afa","adult":false,"gender":2,"id":1179422,"known_for_department":"Writing","name":"Ross
        Duffer","original_name":"Ross Duffer","popularity":1.84,"profile_path":"/kN1HdFViQkcJOQlNcvvFJIx9Uju.jpg"},{"job":"Director
        of Photography","department":"Camera","credit_id":"60a81c446ee3d70029419e54","adult":false,"gender":2,"id":1485876,"known_for_department":"Camera","name":"Tim
        Ives","original_name":"Tim Ives","popularity":0.6,"profile_path":"/cgQkPbS2akrEZlawCi5DN0AkPqs.jpg"}],"episode_number":1,"guest_stars":[{"character":"Troy","credit_id":"5bc10b8e92514179ba020982","order":41,"adult":false,"gender":2,"id":1668667,"known_for_department":"Acting","name":"Peyton
        Wich","original_name":"Peyton Wich","popularity":1.228,"profile_path":"/52101r7ph1aiJtlZ2pIXD5L7BKV.jpg"},{"character":"Benny
        Hammond","credit_id":"5d257da9a698cf0fa7a83b45","order":67,"adult":false,"gender":2,"id":1293892,"known_for_department":"Acting","name":"Chris
        Sullivan","original_name":"Chris Sullivan","popularity":1.712,"profile_path":"/5I4pxgfl5agN38qrZqtFf8TlkUh.jpg"},{"char[...]
