<%= simple_form_for :search, url: the_movie_dbs_path, method: :get, html: { class: 'row' } do |f| %>
  <div class='col-8 col-md-10 col-lg-11'>
    <%= f.input :query, label: 'Search for TV or Movie', autofocus: true, required: false %>
  </div>
  <div class='col align-self-center p-0'>
    <%= f.button :submit, 'Search' %>
  </div>
<% end %>
