<%= turbo_frame_tag 'videos', class: 'display-flex' do %>
  <% if params.dig(:search, :query).blank? && search_service.results.none?%>
    <div class='col-md-12'>
      <div class="text-white">
        <h1 class="display-4">To Getting Started</h1>
        <p class="lead">Type in the name of the movie or TV show your looking for into the search bar above.</p>
      </div>
    </div>
  <% end %>
  <% if search_service.results.none? && params.dig(:search, :query).present? %>
    <div class='col-md-12 text-center'>
      <div class="text-warning">
        <h4 class="display-8">No Results Found For "<%= params.dig(:search, :query) %>"</h4>
      </div>
    </div>
  <% else %>
    <%= render partial: 'video', collection: search_service.results %>
    <%= render 'next_page' %>
  <% end %>
<% end %>
