<div class="progress mb-2" id="<%= id %>">
  <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="<%= completed %>" aria-valuemin="0" aria-valuemax="100">
    Loading <%= label %> ... <%= number_to_percentage completed, precision: 0 %>
  </div>
</div>
