<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Disk Name</th>
      <th scope="col">Workflow State</th>
    </tr>
  </thead>
  <tbody>
    <%= render @disks %>
  </tbody>
</table>
