<div class='text-center'>
  <h1>Type of Video</h1>
  <%= link_to 'Movie', new_movie_path, class: 'btn btn-outline-secondary' %>
  <%= link_to 'TV', new_tv_path, class: 'btn btn-outline-secondary' %>
</div>
