---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/tv/12662?api_key=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Etag:
      - W/"cba9da51e71846656f7685a9d1637162"
      X-Memc:
      - HIT
      X-Memc-Age:
      - '2869'
      X-Memc-Expires:
      - '731'
      X-Memc-Key:
      - 6c8ab846c1a90ed5e40cbaea2d7caf89
      X-Ratelimit-Limit:
      - '40'
      X-Ratelimit-Remaining:
      - '39'
      X-Ratelimit-Reset:
      - '1552880292'
    body:
      encoding: ASCII-8BIT
      string: '{"backdrop_path":"/xgsniobMZXe5fEWFC5EKpfAi9Ec.jpg","created_by":[{"id":127217,"credit_id":"5c7ab6a9c3a36819321902ba","name":"Whitney
        Ellsworth","gender":0,"profile_path":null},{"id":127216,"credit_id":"5c7ab6b4c3a3682f03191883","name":"Robert
        Maxwell","gender":0,"profile_path":null}],"episode_run_time":[25,30],"first_air_date":"1952-09-19","genres":[{"id":10759,"name":"Action
        & Adventure"},{"id":10765,"name":"Sci-Fi & Fantasy"},{"id":18,"name":"Drama"},{"id":35,"name":"Comedy"}],"homepage":"","id":12662,"in_production":false,"languages":["en"],"last_air_date":"1958-04-28","last_episode_to_air":{"air_date":"1958-04-28","episode_number":13,"id":486211,"name":"All
        That Glitters","overview":"What if? After a whack to the head, Jimmy dreams
        he and Lois have the same powers as the Man of Steel.","production_code":null,"season_number":6,"show_id":12662,"still_path":null,"vote_average":0.0,"vote_count":0},"name":"Adventures
        of Superman","next_episode_to_air":null,"networks":[{"name":"ABC","id":2,"logo_path":"/ndAvF4JLsliGreX87jAc9GdjmJY.png","origin_country":"US"}],"number_of_episodes":104,"number_of_seasons":6,"origin_country":["US"],"original_language":"en","original_name":"Adventures
        of Superman","overview":"With powers and abilities far beyond those of mortal
        men, Superman battles for truth and justice.","popularity":2.39,"poster_path":"/ovM65i1muoywhpdcwn6wbx5BlKC.jpg","production_companies":[],"seasons":[{"air_date":null,"episode_count":14,"id":23577,"name":"Specials","overview":"","poster_path":null,"season_number":0},{"air_date":"1952-09-19","episode_count":26,"id":23571,"name":"Season
        1","overview":"","poster_path":"/5SHuxTmc3N0Ach98pduTTRXbx5k.jpg","season_number":1},{"air_date":"1953-09-18","episode_count":26,"id":23573,"name":"Season
        2","overview":"","poster_path":"/xmjO0bUoLhFJORv1ULzj3BHulyX.jpg","season_number":2},{"air_date":"1955-04-23","episode_count":13,"id":23574,"name":"Season
        3","overview":"","poster_path":"/gM2JmQygZ75QcbyptpjtO8qLQnt.jpg","season_number":3},{"air_date":"1956-02-18","episode_count":13,"id":23575,"name":"Season
        4","overview":"","poster_path":"/zNXmiEhZCbfzjelNMTZ2JPcqMq.jpg","season_number":4},{"air_date":"1957-03-08","episode_count":13,"id":23572,"name":"Season
        5","overview":"","poster_path":"/zpy6z219ucKBEJTT224BCk3OOmD.jpg","season_number":5},{"air_date":"1958-02-03","episode_count":13,"id":23576,"name":"Season
        6","overview":"","poster_path":"/3Q91tRdLpDUKGmvM2kO12OEVccq.jpg","season_number":6}],"status":"Ended","type":"Scripted","vote_average":6.6,"vote_count":22}'
  recorded_at: Mon, 18 Mar 2019 03:38:02 GMT
recorded_with: VCR 4.0.0
