<tr class="<%= 'text-success' if video.runtime_range.include?(disk_title.duration) %>">
  <th scope="row"><%= disk_title.id %></th>
  <td><%= disk_title.name %></td>
  <td><%= disk_title.duration %></td>
</tr>
