
<div class='row min-vh-100'>
  <div class="col-12" style="height: 90vh">
    <div class="progress-message text-white bg-black rounded-4 p-4" style="overflow-y: scroll; min-height: 100%; max-height: 100%;">
      <%= render ProgressMessageComponent.new(model: DiskTitle, message: @rip_worker&.status) %>
    </div>
  </div>
</div>
