/*
 * Globals
 */

.dark {
  body {
    background-image: url("../images/irongrip_@2X.png");
    background-repeat: repeat;
  }
  .btn-outline-secondary {
    color: $white;
  }
  /* Links */
  .debug_dump {
    color: $white;
    background-color: $dark-gray;
  }

  /* Custom default button */
  .btn-secondary,
  .btn-secondary:hover,
  .btn-secondary:focus {
    color: $dark-black;
    text-shadow: none; /* Prevent inheritance from `body` */
    background-color: $white;
    border: .05rem solid $white;
  }

  html, body {
    background-color: $dark-black;
  }

  /*
  * Footer
  */

  .table {
    width: 100%;
    margin-bottom: 1rem;
    color: $white;
  }
  label {
    color: $white;
  }
}
