---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/577922?api_key=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - 01ac479ab16428368aed934fb87ef50bfe46df2a
      X-Memc-Age:
      - '131'
      X-Memc-Expires:
      - '16251'
      Etag:
      - W/"147d1a17f6fe1c55b80eeb98f58316fd"
    body:
      encoding: ASCII-8BIT
      string: '{"adult":false,"backdrop_path":"/wzJRB4MKi3yK138bJyuL9nx47y6.jpg","belongs_to_collection":null,"budget":205000000,"genres":[{"id":28,"name":"Action"},{"id":53,"name":"Thriller"},{"id":878,"name":"Science
        Fiction"}],"homepage":"https://www.tenetfilm.com/","id":577922,"imdb_id":"tt6723592","original_language":"en","original_title":"Tenet","overview":"Armed
        with only one word - Tenet - and fighting for the survival of the entire world,
        the Protagonist journeys through a twilight world of international espionage
        on a mission that will unfold in something beyond real time.","popularity":161.331,"poster_path":"/oh8XmxWlySHgGLlx8QOBmq9k72j.jpg","production_companies":[{"id":174,"logo_path":"/IuAlhI9eVC9Z8UQWOIDdWRKSEJ.png","name":"Warner
        Bros. Pictures","origin_country":"US"}],"production_countries":[{"iso_3166_1":"GB","name":"United
        Kingdom"},{"iso_3166_1":"US","name":"United States of America"}],"release_date":"2020-08-22","revenue":363129000,"runtime":150,"spoken_languages":[{"english_name":"English","iso_639_1":"en","name":"English"}],"status":"Released","tagline":"Time
        runs out.","title":"Tenet","video":false,"vote_average":7.3,"vote_count":6158}'
  recorded_at: Wed, 13 Oct 2021 16:53:28 GMT
recorded_with: VCR 6.0.0
