---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/577922?api_key=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - 01ac479ab16428368aed934fb87ef50bfe46df2a
      X-Memc-Age:
      - '7043'
      X-Memc-Expires:
      - '14557'
      Etag:
      - W/"81c63e77b2a91f976c18a2cd79c33f8c"
    body:
      encoding: ASCII-8BIT
      string: '{"adult":false,"backdrop_path":"/wzJRB4MKi3yK138bJyuL9nx47y6.jpg","belongs_to_collection":null,"budget":205000000,"genres":[{"id":28,"name":"Action"},{"id":53,"name":"Thriller"},{"id":878,"name":"Science
        Fiction"}],"homepage":"https://www.tenetfilm.com/","id":577922,"imdb_id":"tt6723592","original_language":"en","original_title":"Tenet","overview":"Armed
        with only one word - Tenet - and fighting for the survival of the entire world,
        the Protagonist journeys through a twilight world of international espionage
        on a mission that will unfold in something beyond real time.","popularity":383.436,"poster_path":"/k68nPLbIST6NP96JmTxmZijEvCA.jpg","production_companies":[{"id":9996,"logo_path":"/3tvBqYsBhxWeHlu62SIJ1el93O7.png","name":"Syncopy","origin_country":"GB"},{"id":174,"logo_path":"/ky0xOc5OrhzkZ1N6KyUxacfQsCk.png","name":"Warner
        Bros. Pictures","origin_country":"US"}],"production_countries":[{"iso_3166_1":"GB","name":"United
        Kingdom"},{"iso_3166_1":"US","name":"United States of America"}],"release_date":"2020-08-22","revenue":363129000,"runtime":150,"spoken_languages":[{"english_name":"English","iso_639_1":"en","name":"English"}],"status":"Released","tagline":"Time
        runs out.","title":"Tenet","video":false,"vote_average":7.3,"vote_count":4996}'
  recorded_at: Thu, 15 Apr 2021 17:50:22 GMT
recorded_with: VCR 6.0.0
