---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/577922?api_key=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - fda81fb3883828c4476669567684b647
      X-Memc-Age:
      - '19285'
      X-Memc-Expires:
      - '8031'
      Etag:
      - W/"11f74f4744f0fdcb8de419ea5d7163d6"
    body:
      encoding: ASCII-8BIT
      string: '{"adult":false,"backdrop_path":"/yY76zq9XSuJ4nWyPDuwkdV7Wt0c.jpg","belongs_to_collection":null,"budget":205000000,"genres":[{"id":28,"name":"Action"},{"id":53,"name":"Thriller"},{"id":878,"name":"Science
        Fiction"}],"homepage":"https://www.tenetfilm.com/","id":577922,"imdb_id":"tt6723592","origin_country":["US","GB"],"original_language":"en","original_title":"Tenet","overview":"Armed
        with only one word - Tenet - and fighting for the survival of the entire world,
        the Protagonist journeys through a twilight world of international espionage
        on a mission that will unfold in something beyond real time.","popularity":92.592,"poster_path":"/k68nPLbIST6NP96JmTxmZijEvCA.jpg","production_companies":[{"id":174,"logo_path":"/zhD3hhtKB5qyv7ZeL4uLpNxgMVU.png","name":"Warner
        Bros. Pictures","origin_country":"US"},{"id":9996,"logo_path":"/3tvBqYsBhxWeHlu62SIJ1el93O7.png","name":"Syncopy","origin_country":"GB"}],"production_countries":[{"iso_3166_1":"GB","name":"United
        Kingdom"},{"iso_3166_1":"US","name":"United States of America"}],"release_date":"2020-08-22","revenue":365304105,"runtime":150,"spoken_languages":[{"english_name":"English","iso_639_1":"en","name":"English"},{"english_name":"Estonian","iso_639_1":"et","name":"Eesti"}],"status":"Released","tagline":"Time
        runs out.","title":"Tenet","video":false,"vote_average":7.187,"vote_count":9555}'
  recorded_at: Wed, 10 Jul 2024 22:36:44 GMT
recorded_with: VCR 6.2.0
