<div class="card text-white bg-danger mb-3">
  <div class="card-body">
    <h5 class="card-title">We're sorry, but something went wrong.</h5>
    <p>This Might be because we could not connect to the internet. Make sure your wifi or network connection is working correctly and try again.</p>
    <p><%= @exception.message %></p>
  </div>
</div>
