<div class="card text-white bg-danger mb-3">
  <div class="card-body">
    <h5 class="card-title">We're sorry, but something went wrong.</h5>
    <p><%= @exception.body.status_message || @exception %></p>
  </div>
</div>
