/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 */


@import "colors";
@import "bootstrap/scss/bootstrap";
@import "minimal";
@import "checkbox_toggle";
@import "bg_process";

// @import "./custom";
// app/javascript/packs/stylesheets/_custom.scss
// h1 {
//   color: red;
// } */
html,
body {
  height: 100%;
}

body {
  font-family: "Lucida Console", Monaco, monospace;
  display: flex;
}

.debug_dump {
  border-radius: 0.5rem;
  padding: 0.5rem;
}

.h-90 {
  height: 90%;
}

.h-10 {
  height: 10%;
}

.h-85 {
  height: 85%;
}

.h-15 {
  height: 15%;
}

.d-inline-grid {
  display: inline-grid;
}

.overflow-scroll-y {
  overflow-y: scroll;
}

.overflow-hidden-y {
  overflow-y: hidden;
}

.overflow-hidden-x {
  overflow-x: hidden;
}

.overflow-scroll-x {
  overflow-x: scroll;
}
