/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 */


@import "colors";
@import "bootstrap/scss/bootstrap";
@import "minimal";
@import "checkbox_toggle";
@import "bg_process";
@import "autocomplete";
@import "movie";

// @import "./custom";
// app/javascript/packs/stylesheets/_custom.scss
// h1 {
//   color: red;
// } */
html,
body {
  height: 100%;
}

body {
  font-family: "Lucida Console", Monaco, monospace;

  main {
    padding: 1em;
    padding-bottom: 20em;
  }
}

.nav-link {
  padding: 0.5em;
}

.height-100 {
  height: 100%;
}

.height-95 {
  height: 95%;
}

.height-60 {
  height: 60px;
}

.margin-auto {
  margin: auto;
}

// Console for basic shell output
.console-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  padding: 0;

  .console {
    background-color: #000;
    color: #FFF;
    flex-grow: 1;
    height: 100%;
    overflow-y: auto;
    padding: 10px;
  }
}

.debug_dump {
  border-radius: 0.5rem;
  padding: 0.5rem;
}

.certification-rating {
  align-content: center;
  align-items: center;
  border-radius: 2px;
  border: 1px solid rgba(255, 255, 255, 0.6);
  line-height: 1;
  margin-right: 7px;
  padding: .06em 4px .06em;
  white-space: nowrap;
}

.cast {
  display: flex;
  overflow-x: scroll;

  .cast-member {
    .img-poster {
      padding-bottom: 1em;
    }

    width: 200px;
  }
}


.h-90 {
  height: 90%;
}

.h-10 {
  height: 10%;
}

.h-85 {
  height: 85%;
}

.h-15 {
  height: 15%;
}

.d-inline-grid {
  display: inline-grid;
}

.hidden {
  display: none;
}

.overflow-scroll-y {
  overflow-y: scroll;
}

.overflow-hidden-y {
  overflow-y: hidden;
}

.overflow-hidden-x {
  overflow-x: hidden;
}

.overflow-scroll-x {
  overflow-x: scroll;
}

.img-poster {
  height: 300px;
  width: 200px;
  display: inline-block;
}

.width-225 {
  width: 225px;
}

.display-flex {
  display: flex;
  flex-wrap: wrap;
}

.img-poster-btn {
  --bs-btn-color: #f8f9fa;
  --bs-btn-border-color: #77797a;
  --bs-btn-hover-color: #000;
  --bs-btn-hover-bg: #f8f9fa;
  --bs-btn-hover-border-color: #f8f9fa;
  --bs-btn-focus-shadow-rgb: 248, 249, 250;
  --bs-btn-active-color: #000;
  --bs-btn-active-bg: #f8f9fa;
  --bs-btn-active-border-color: #f8f9fa;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #f8f9fa;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #f8f9fa;
  --bs-gradient: none;
  border-radius: 0.1rem;
}

.mini-console {
  .title {
    overflow-y: auto;
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity)) !important;
    white-space: nowrap !important;
    line-height: 1.25;
    padding: 0.5rem !important;
    border-bottom: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
    border-top-left-radius: var(--bs-border-radius) !important;
    border-top-right-radius: var(--bs-border-radius) !important;
  }

  .console {
    overflow-y: auto;
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity)) !important;
    border-bottom-right-radius: var(--bs-border-radius) !important;
    border-bottom-left-radius: var(--bs-border-radius) !important;
    --bs-text-opacity: 1;
    color: rgba(var(--bs-light-rgb), var(--bs-text-opacity)) !important;
    white-space: nowrap !important;
    line-height: 1.25 !important;
    padding: 0.5rem !important;
    margin-bottom: 0.25rem !important;
    height: 100px;

    p {
      margin-bottom: 0px;
    }
  }
}
