---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/tv/4629?api_key=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - 7e7da73bbbf90d334a4f01441fd688059fd942fc
      X-Memc-Age:
      - '572'
      X-Memc-Expires:
      - '3028'
      Etag:
      - W/"51cddfd55fe6e10f2c21d6a8afd1c1f7"
    body:
      encoding: ASCII-8BIT
      string: '{"backdrop_path":"/li9SZBpVzJz81ouqifVuH5C7Nod.jpg","created_by":[{"id":72082,"credit_id":"5257781d760ee36aaa54c1a1","name":"Brad
        Wright","gender":2,"profile_path":null},{"id":1224904,"credit_id":"5257781d760ee36aaa54c19b","name":"Jonathan
        Glassner","gender":2,"profile_path":null}],"episode_run_time":[42,60,43,45],"first_air_date":"1997-07-27","genres":[{"id":10765,"name":"Sci-Fi
        & Fantasy"},{"id":10759,"name":"Action & Adventure"},{"id":9648,"name":"Mystery"}],"homepage":"http://stargate.mgm.com/view/series/1/index.html","id":4629,"in_production":false,"languages":["en"],"last_air_date":"2007-06-22","last_episode_to_air":{"air_date":"2007-06-22","episode_number":20,"id":336035,"name":"Unending","overview":"Trapped
        on board the Odyssey, the members of SG-1 must live out the rest of their
        lives together when Carter activates a time dilation field to save the ship
        from destruction.","production_code":"","season_number":10,"still_path":"/oY0JQv3nx7x8cUgo2qlA8aqNtYs.jpg","vote_average":8.458,"vote_count":12},"name":"Stargate
        SG-1","next_episode_to_air":null,"networks":[{"name":"Showtime","id":67,"logo_path":"/Allse9kbjiP6ExaQrnSpIhkurEi.png","origin_country":"US"},{"name":"Syfy","id":77,"logo_path":"/iYfrkobwDhTOFJ4AXYPSLIEeaAT.png","origin_country":"US"}],"number_of_episodes":214,"number_of_seasons":10,"origin_country":["CA","US"],"original_language":"en","original_name":"Stargate
        SG-1","overview":"The story of Stargate SG-1 begins about a year after the
        events of the feature film, when the United States government learns that
        an ancient alien device called the Stargate can access a network of such devices
        on a multitude of planets. SG-1 is an elite Air Force special operations team,
        one of more than two dozen teams from Earth who explore the galaxy and defend
        against alien threats such as the Goa''uld, Replicators, and the Ori.","popularity":67.846,"poster_path":"/9Jegw0yle4x8jlmLNZon37Os27h.jpg","production_companies":[{"id":2230,"logo_path":"/8UHPNZnCf2gfHs9DrSvJMa8t7Ry.png","name":"MGM
        Television","origin_country":"US"}],"production_countries":[{"iso_3166_1":"CA","name":"Canada"}],"seasons":[{"air_date":"1994-10-28","episode_count":9,"id":14150,"name":"Specials","overview":"","poster_path":"/o934p5kKTIRTo80zAzjyyKnEzHe.jpg","season_number":0},{"air_date":"1997-07-27","episode_count":22,"id":14151,"name":"Season
        1","overview":"","poster_path":"/tiib6A0kZ0NoUeuUbcU0hIu2jlM.jpg","season_number":1},{"air_date":"1998-06-26","episode_count":22,"id":14141,"name":"Season
        2","overview":"","poster_path":"/lBMPJS97E8t6ULrE6hrZSkdne15.jpg","season_number":2},{"air_date":"1999-06-25","episode_count":22,"id":14142,"name"[...]
