<main role="main">
  <div class="row">

    <div id="sidebar" class="col-3">
      <% if content_for?(:sidebar) %>
        <%= yield :sidebar %>
      <% end %>
      <%= render "layouts/bg_processes", classes: nil %>
    </div>

    <div id="content" class="col-9">
      <%= bootstrap_alerts %>
      <%= yield %>
    </div>
  </div>
</main>
