<!DOCTYPE html>

<html lang='en' data-bs-theme="<%= light_dark_mode %>">
  <head>
    <title>Plex The Ripper</title>
    <%= render 'layouts/head' %>
  </head>
  <body >
    <%= render 'layouts/header' %>
    <%= render "layouts/content" %>
  </body>
</html>
